.containerStoresPage{
  width: 100vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerStoresPage .storesPage .close{
  padding-top: 5px;
  padding-right: 5px;
  display: flex;
  justify-content:flex-end;
  cursor: pointer;
}

.containerStoresPage .storesPage .close .closeImage{
  width: 20px;
  display: flex;
  justify-content:flex-end;
}

.storesPage {
  background-color: #6ebae0;
  border-radius: 20px;
  width: 80vw;
}
.title{
  text-align: center;
  font-size: 2rem;
  padding-bottom: 20px;
}

.store{
  padding: 20px;
  border-bottom: 1px dashed black;
}

.adress{
  padding: 10px;
  font-size: 1.2rem;
}

.mapStore{
  height: 20vh;
  width: 100%;  
  background-color: white;
}
